.navbarStyle {
    background-color: RGB(80, 114, 153) !important;
}

.navbar-text {
    color: #FDFDFD !important;
    font-size: 24px !important;
}

.logout {
    font-size: 18px !important;
}

.search {
    height: 28px !important;
}

.navbar-text {
    margin-top: 0px !important;
    margin-bottom: 0px !important;

}

.navbar-default .navbar-nav > li > a {
    color: #FDFDFD !important;
}